Keras==2.2.4
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
matplotlib==3.0.3
numpy==1.15.4
opencv-python==3.4.3.18
Pillow==7.0.0
PyInstaller==3.6
pyserial==3.4
PySide2==5.14.1
PyYAML==5.3.1
QtPy==1.9.0
requests==2.23.0
scikit-image==0.15.0
scikit-learn==0.22.2.post1
scipy==1.2.1
six==1.14.0
sklearn==0.0
tensorboard==1.12.2
tensorflow==1.15.2
